<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="jsgrid">
	<div class="addbtn-block plural controlhidden mt-2" id="itemsCountDiv">
		<div class="showleft mt-3">
			查詢結果：共 <span style="color: red;" id="itemsCount"></span> 筆
		</div>
	             
		<div class="showright mb-2 mt-2">
			顯示筆數： 
			<select id="showcount" name="showcount" onchange="doquery();">
				<option value="10" selected>10</option>
				<option value="25">25</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select>
		</div>
	</div>
	<div id="jsGrid"></div>
</th:block>