<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="utilModal">
	<form class="controlhidden" id="showDetailed" method="POST" name="showDetailed" action="#" th:action="@{/showDetailed/}">
		<input type="text" id="queryId" name="queryId">
		<input type="text" id="queryTable" name="queryTable">
	</form>
	
	<!--（Modal） -->
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" id="btnModal" style="display: none;"></button>
	
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel"></h4>
				</div>
				<div class="wordWrap modal-body">
					<h4 id="myModalBoby"></h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn newbtn-gray" data-bs-dismiss="modal">關閉</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="showMsgModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="showMsgModalTitle"></h4>
				</div>
				<div class="wordWrap modal-body">
					<h4 id="showMsgModalBoby"></h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary controlhidden" data-bs-dismiss="modal" id="showMsgConfirmBtn" >確認</button>
					&nbsp;&nbsp;
					<button type="button" class="btn newbtn-gray" data-bs-dismiss="modal">關閉</button>
				</div>
			</div>
		</div>
	</div>
</th:block>