<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="utilCss">	
	<link rel="stylesheet" th:href="@{/component/jQuery-UI/jquery-ui-1.12.1.min.css}">
	<link rel="stylesheet" th:href="@{/component/jQuery-UI/jquery-ui.theme-1.12.1.min.css}">
	<link rel="stylesheet" th:href="@{/component/jQuery/DateTimePicker/jquery.datetimepicker-2.5.20.min.css}">
	<link rel="stylesheet" th:href="@{/component/Font-Awesome/css/all.css}">
	<link rel="stylesheet" th:href="@{/component/Bootstrap/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/component/overlayScrollbars/OverlayScrollbars.min.css}">
	<link rel="stylesheet" th:href="@{/component/AdminLTE/adminlte-3.1.0.min.css}">
	<link rel="stylesheet" th:href="@{/component/CSS/pure.css}">
	<link rel="stylesheet" th:href="@{/component/jsgrid/jsgrid.min.css}">
	<link rel="stylesheet" th:href="@{/component/jsgrid/jsgrid-theme.min.css}">
	<link rel="stylesheet" th:href="@{/component/CSS/style.css}">
</th:block>

<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="utilJs">	
	<script th:src="@{/component/jQuery/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/component/jQuery-UI/jquery-ui-1.12.1.min.js}"></script>
	<script th:src="@{/component/jQuery/DateTimePicker/jquery.datetimepicker-2.5.20.min.js}"></script>
	<script th:src="@{/component/Bootstrap/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/component/overlayScrollbars/jquery.overlayScrollbars.min.js}"></script>
	<script th:src="@{/component/AdminLTE/adminlte-3.1.0.min.js}"></script>
	<script th:src="@{/component/jsgrid/jsgrid.min.js}"></script>
	<script th:src="@{/component/JS/utiljs.js}"></script>
</th:block>