<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" th:href="@{/component/jQuery-UI/jquery-ui-1.12.1.min.css}" >
	<link rel="stylesheet" th:href="@{/component/jQuery-UI/jquery-ui.theme-1.12.1.min.css}" >
	<link rel="stylesheet" th:href="@{/component/Bootstrap/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/component/CSS/normalize.css}">
    <link rel="stylesheet" th:href="@{/component/CSS/style.css}">
    <link rel="stylesheet" th:href="@{/component/CSS/login.css}">
    
    <title>登入畫面</title>
</head>

<body>
	<div class="whitebg">
        <div class="logo">
            <img src="" alt="">
        </div>
        <div class="s-title">
            <span class="s-txt">登入系統</span>
        </div>
        <form id="loginForm" name="loginForm" method="POST" th:action="@{/loginAction}">
	        <div id="inputdiv">
	            <div class="inputblock">
	                <label for="username">使用者名稱：</label>
	                <input type="text" id="username" name="username">
	            </div>
	    
	            <div class="inputblock">
	                <label for="password">使用者密碼：</label>
	                <input type="password" id="password" name="password" maxlength="20">
	            </div>
 
	            <div class="inputblock" id="authCode">
	                <label for="code">輸入驗證碼：</label>
	                <input type="text" id="usercode" name="imageCode" class="inputcode" maxlength="4">
	                <div class="codeimg">
	                	<img id="authCodeImage" />
	                </div>
	                <i class="fa-solid fa-rotate" onclick="doauthCode();"></i>
	            </div>
    		</div>

			<div class="container">
			      <div class="loader-inner ball-spin-fade-loader" id="loaderdiv"></div>
			</div>
<!-- 			<div class="error" th:if="${session.LoginException}" th:text="${session.LoginException}"></div> -->

			<div class="error" id="error" >
				<br />
            	<br />
            </div>
			
            <div id="btndiv" class="loginbtn">
                <a class="btn lg newbtn-gray" onclick="doClear();">清除</a>
				&nbsp;
                <a class="btn lg newbtn-yellow" onclick="doLogin();">登入</a>
            </div>
        </form>
    </div>
    
    <script th:src="@{/component/jQuery/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/component/jQuery-UI/jquery-ui-1.12.1.min.js}"></script>
    
    <script th:inline="javascript">
    	$(document).ready(function() {
    		//產生驗證碼
    		doauthCode();
    		let loginException = '[[${session.LoginException}]]';
    		if(loginException != 'null') {
    			$("#error").html(loginException.replaceAll("\"", "") + " <br /> &nbsp");
    			"[[${#session.removeAttribute('LoginException')}]]";
    		}
    	});
  		
		function doauthCode() {
			let authurl = /*[[@{/code/image?}]]*/'';
			$("#authCodeImage").attr("src", authurl + Math.random());
		}
		
		function doLogin() {
			if (checkData()) {
				document.loginForm.submit();
			 }
		}
		
		//清除查詢資料
		function doClear() {
			$("#username").val(null);
			$("#password").val(null);
			$("#usercode").val(null);
			$("#error").html("<br /><br />");
		}
		
		//檢查欄位是否為空白
		function checkData() {
			let errorText = null;
			if ($("#username").val() == '') {
				$("#error").html("帳號不能為空白 <br /> &nbsp");
				return false;
			}
			
			if ($("#password").val() == '') {
				$("#error").html("密碼不能為空白 <br /> &nbsp");
				return false;
			}
			
			if ($("#usercode").val() == '') {
				$("#error").html("驗證碼不能為空白 <br /> &nbsp");
				return false;
			}
			
			if ($("#usercode").val().length < 4) {
				$("#error").html("驗證碼輸入錯誤 <br /> &nbsp");
				return false;
			}
			return true;
		}
    </script>
</body>
</html>