<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>使用者權限管理</title>
		<!-- 載入CSS -->
		<th:block th:insert="/util/utilJsCss :: utilCss"></th:block>
	</head>
	
	<body class="sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed sidebar-collapseX sidebar-collapse" style="height: auto;">
		<div class="wrapper">
			 <!-- Header -->
	        <th:block th:insert="/util/header :: header"></th:block>
	        
	        <!-- 主選單 -->
	        <th:block th:insert="/util/navBar :: navBar"></th:block>
	        
	        <div class="content-wrapper">
		        <div class="main-content">
					<div class="main-title">
				        <span class="title-text" id="showtitle">使用者權限管理</span>
				    </div>
				    <!-- 搜尋bar -->
		            <form class="queryForm" id="queryForm" name="queryForm">
			            <div class="search-block">
			                <div class="search-block-line">
			                    <div>
			                    	<label>
			                            <span class="text" >編　　號：</span>
			                            <input type="text" id="userId" th:value="${permissionsUser.userId}">
			                        </label>
			                    	&nbsp;&nbsp;&nbsp;&nbsp;
			                    	<label>
			                            <span class="text" >帳　　號：</span>
			                            <input type="text" th:value="${permissionsUser.account}">     
			                        </label>
			                    </div>
			                </div>
			                <div class="search-block-line">
			                    <div>
			                    	<label>
			                            <span class="text" >員工編號：</span>
			                            <input type="number" th:value="${permissionsUser.accountId}">
			                        </label>
			                    	&nbsp;&nbsp;&nbsp;&nbsp;
			                    	<label>
			                            <span class="text" >員工姓名：</span>
			                            <input type="text" th:value="${permissionsUser.name}">     
			                        </label>
			                    </div>
			                </div>
			                <div class="search-block-line">
			                    <div>
			                    	<label>
			                            <span class="text" >群　　組：</span>
			                            <input type="text" th:value="${permissionsUser.groupName}">
			                        </label>
			                    	&nbsp;&nbsp;&nbsp;&nbsp;
			                    	<label>
			                            <span class="text" >部　　門：</span>
			                            <input type="text" th:value="${permissionsUser.branch}">     
			                        </label>
			                    </div>
			                </div>
			            </div>
		            </form>
				    
				    <form id="myForm" name="myForm" method="POST" action="<%=request.getContextPath()%>/apiGLPermission/get">
			            <div class="search-block mt-3">
			            	<caption>權限設定表</caption>
			                <table class="permtable mt-3" id="myTable" name="myTable">
			                	<thead>
									<tr>
										<th width=10%>序號</th><th width=30%>功能</th><th width=10%>啟用</th>
										<th width=10%>序號</th><th width=30%>功能</th><th width=10%>啟用</th>
									</tr>
								</thead>
				                <tbody>
									<th:block th:each="func, status : ${functionsTable}">
									    <tr th:if="${status.index % 2 == 0}">
									    	<td th:text="${func.userFunctionId}" class="controlhidden">userfunctionid</td>
									        <td th:text="${func.functionId}">序號</td>
									        <td th:text="${func.functionShowName}">顯示名稱</td>
									        <td><input type="checkbox" th:value="${func.permissionEnabled}" th:checked="${func.permissionEnabled == '1'}"></td>
									        <th:block th:if="${functionsTable.size() != (status.index + 1) }" th:with="functionTowItem=${functionsTable[status.index + 1]}">
										        <td th:text="${functionTowItem.userFunctionId}" class="controlhidden">userfunctionid</td>
										        <td th:text="${functionTowItem.functionId}">序號</td>
										        <td th:text="${functionTowItem.functionShowName}">顯示名稱</td>
										        <td><input type="checkbox" th:value="${functionTowItem.permissionEnabled}" th:checked="${functionTowItem.permissionEnabled == '1'}"></td>
									        </th:block>
									    </tr>
									</th:block>
				                </tbody>
			                </table>
			                <div class="search-block-line btnventer">
			                	<div class="btn searchbtn newbtn-gray" onclick="doreturn();">返回</div>
			                    &nbsp;&nbsp;
			                    <div class="btn searchbtn newbtn-yellow" onclick="doupdate();">修改</div>
			                </div>
			            </div>
		            </form>
		            
				</div>
			</div>
			
			<!-- Modal -->
	        <th:block th:insert="/util/utilModal :: utilModal"></th:block>
			<!-- footer -->
	        <th:block th:insert="/util/footer :: footer"></th:block>
	    </div>
	    <!-- 載入TS -->
	    <th:block th:insert="/util/utilJsCss :: utilJs"></th:block>
		<script th:inline="javascript">
		
			$(document).ready(function() {
				//doClear()
				let saveRespMsg = /*[[${saveRespMsg}]]*/'';
				if(saveRespMsg != null){
					showMsg("", saveRespMsg);
					saveRespMsg = null;
				}
			});
			
			function doupdate() {
				let data = [];
				const userid = $('#userId').val();
				var userfunction = {};
				$("#myTable tbody tr").each(function() {
				    const row = $(this);
					let index = 1;
				    
				    row.find("td").each(function() {
				    	if(index === 1 || index === 5 ) {
				    		userfunction = {};
				    	}

				    	let value = $(this).text();
				    	
				    	switch (index) {
				    	case 1:
				    		let userFunctionid = parseInt(value)
				    		if(Number.isNaN(userFunctionid)) {
				    			userFunctionid = null;
							}
				    		userfunction["userFunctionId"] = userFunctionid;
				    		break;
						case 2:
							let functionid = parseInt(value)
							if(Number.isNaN(functionid)) {
								functionid = null;
							}
							userfunction["functionId"] = functionid;
				    		break;
						case 3:
							userfunction["userId"] = parseInt(userid);
				    		break;
						case 4:
							const enabled = $(this).find(":checkbox").prop("checked") ? "1" : "0";
							userfunction["enabled"] = enabled;
				    		break;
				    	}

				    	if(index % 4 == 0) {
				    		index = 0;
				    		data.push(userfunction);
				    	}
				    	index ++;
				    });
				});
				console.log(data); 
				dosave(data)
			}

			
			function dosave(data) {
				const saveUrl = /*[[@{/permissions/save}]]*/'';
           		$.ajax({
					url: saveUrl ,
					type: 'PUT',
					dataType: "json",
				    contentType:"application/json; charset=utf-8",
				    data: JSON.stringify(data),
					success: function(data) {
						showMsg("", data.data);
                    }
                })
			}

			function doreturn() {
				const contextPath = /*[[@{/appUser/}]]*/ '';
        		window.location.href = contextPath;
			}
	    </script>
	</body>
</html>