<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>會員訂單資料查詢</title>
		<!-- 載入CSS -->
		<th:block th:insert="/util/utilJsCss :: utilCss"></th:block>
	</head>
	
	<body class="sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed sidebar-collapseX sidebar-collapse" style="height: auto;">
		<div class="wrapper">
			 <!-- Header -->
	        <th:block th:insert="/util/header :: header"></th:block>
	        
	        <!-- 主選單 -->
	        <th:block th:insert="/util/navBar :: navBar"></th:block>
	        
	        <div class="content-wrapper">
		        <div class="main-content">
					<div class="main-title">
				        <span class="title-text" id="showtitle">會員訂單資料查詢</span>
				    </div>
				    <!-- 搜尋bar -->
		            <form class="queryForm" id="queryForm" name="queryForm">
			            <div class="search-block">
			                <div class="search-block-line">
			                    <div>
			                    	<label>
			                            <span class="text" >扣款編號：</span>
			                            <input type="text" id="orderId" name="orderId">
			                        </label>
			                    	&nbsp;&nbsp;&nbsp;
			                    	<label>
			                            <span class="text" >會員編號：</span>
			                            <input type="number" id="memberId" name="memberId">     
			                        </label>
			                    </div>
			                </div>
			                <div class="search-block-line">
			                    	<label>
			                            <span class="text" >扣款日期：</span>
			                            <input class="queryDate-width" type="text" id="createTimeStart" name="createTimeStart">
			                            ~
			                            <input class="queryDate-width" type="text" id="createTimeEnd" name="createTimeEnd">
			                        </label>
			                </div>
			                <div class="search-block-line btnventer">
			                    <div class="btn searchbtn newbtn-gray" onclick="doClear();">清除</div>
			                    &nbsp;&nbsp;
			                    <div class="btn searchbtn newbtn-yellow" onclick="doquery();">搜尋</div>
			                </div>
			            </div>
		            </form>
				    <!-- 顯示表格 -->
	        		<th:block th:insert="/util/jsgrid :: jsgrid"></th:block>
				</div>
			</div>
			<div class="modal fade" id="updateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="updateModalTitle"></h4>
						</div>
						<div class="wordWrap modal-body">
							<p id="showMemberOrder"></p>
						</div>
						<div class="modal-footer">
						 	<button type="button" class="btn newbtn-gray" data-bs-dismiss="modal">關閉</button>
						</div>
					</div>
				</div>
			</div>
			<!-- Modal -->
	        <th:block th:insert="/util/utilModal :: utilModal"></th:block>
			<!-- footer -->
	        <th:block th:insert="/util/footer :: footer"></th:block>
	    </div>
	    <!-- 載入TS -->
	    <th:block th:insert="/util/utilJsCss :: utilJs"></th:block>
		<script th:inline="javascript">
		
			$(document).ready(function() {
				
				let saveRespMsg = /*[[${saveRespMsg}]]*/'';
				if(saveRespMsg != null){
					showMsg("", saveRespMsg);
					saveRespMsg = null;
				}
				
				$(".queryDate-width").datetimepicker({
					timepicker:false,
					format:'Y/m/d',
					mask:true,
				});
				
				doClear();
			});

			function doquery() {
				dojsGrid(1);
			}
			
			//顯示查詢結果
			function dojsGrid(isquery) {
				let showcount = $('#showcount').val();
				let message = "無資料";
				
				$("#jsGrid").jsGrid({
				    width: "100%",
				    height: "auto",
		
				    inserting: false,
				    editing: false,
				    sorting: true,
				    paging: true,
				    
				    autoload: true,
				    
				    pageLoading: true,
				    pageIndex: 1,
				    pageSize: showcount,
				    pageButtonCount: 5,
				    pagerFormat: "頁數: {first} {prev} {pages} {next} {last} &nbsp;&nbsp; {pageIndex} / {pageCount}",
				    pagePrevText: "上一頁",
				    pageNextText: "下一頁",
				    pageFirstText: "第一頁",
				    pageLastText: "最後頁",
				    
				    noDataContent: message,
				    controller:
					{
					    loadData: function(filter) {
					    	if(isquery == 1) {
					    		isquery = 0;
					    		const requestData = Object.assign(filter, objectifyForm($("#queryForm").serializeArray()));
					    		return queryajax('queryWallet', 'POST', requestData);
					    		
					    	}
					    }
					},
					fields: [
						{ name: "walletId", type: "text", visible: false  },
						{ name: "walletNo", type: "text", width: 80 ,title: "扣款編號"},
						{ name: "memberId", type: "text", width: 80 , title:"會員編號" },
						{
					    	name: "state",
					      	width: 50,
					      	itemTemplate: function(value, item) {
					      		if(item.amount > 0) {
					      			return '存款';
					      		}
					        	return '扣款';
					      	},
					      	title:"狀態" 
					    },
						{ name: "amount", type: "text", width: 80 , title:"金額" },
						{ name: "createTime", type: "text", width: 100 , title:"扣款日期" },
						{ 
							itemTemplate: function(_, item) {
								if(item.amount > 0) {
									return null;
								}
				                return $('<button class="update-btn-color">').text("購買明細")
				                	.on("click", function() {
				                		//$('#updateOrderId').val(item.orderId);
				                		$('#updateModalTitle').val('扣款詳細資料');
				                		let funcurl = /*[[@{/memberorder/queryMemberOrderByWalletId/}]]*/'';
				                		$.ajax({
				                		    type: "GET",
				                		    url: funcurl  + item.walletId,
				                		    success: function (data) {
				                		    	$('#showMemberOrder').html(data["data"]);
				                		    }
				                	    });
				                		$('#updateModal').modal('show');
				                	});
				          	}, sorting: false, width: 60
						}
					]
				})
			}

			//清除查詢資料
			function doClear() {
				$("#jsGrid").jsGrid("reset");
				doClearData()
				$("#jsGrid").children().remove();
			}
			function doClearData() {
				document.getElementById("queryForm").reset();
        		$('#itemsCountDiv').css("display", "none");
			}
	    </script>
	</body>
</html>